{% extends "base_login.html" %}
{% block title %}회원가입{% endblock %}
{% block content %}
<div class="form-box">
  <h2>회원가입</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-field">
        <label for="{{ field.id_for_label }}">
          {% if field.name == 'username' %}
            아이디
          {% elif field.name == 'nickname' %}
            닉네임
          {% else %}
            {{ field.label }}
          {% endif %}
        </label>
        {{ field }}
        {% if field.help_text %}
          <small style="color: gray;">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <div style="color: red;">{{ error }}</div>
        {% endfor %}
      </div>
    {% endfor %}
    <button type="submit">가입하기</button>
  </form>

  <a href="{% url 'login' %}">이미 계정이 있으신가요? 로그인</a>
  <a href="/">🏠 홈으로</a>
</div>
{% endblock %}
