<div style="flex: 1; min-width: 300px;">
    <h4 style="margin-bottom: 10px;">정문 → 중문 → 보건대학 → 학생회관 → 예술대학 → 생활관</h4>
  <table class="shuttle-table">
  <thead>
    <tr>
      <th>시간</th>
      <th>배차</th>
      <th>관리차종</th>
      <th>비고</th>
    </tr>
  </thead>
  <tbody>
    <tr><td rowspan="5">8시</td><td>8:10</td><td>학교버스 2</td><td></td></tr>
    <tr><td>8:20</td><td>학교버스 1</td><td></td></tr>
    <tr><td>8:30</td><td>학교버스 2</td><td></td></tr>
    <tr><td>8:40</td><td>학교버스 1</td><td></td></tr>
    <tr><td>8:50</td><td>학교버스 2</td><td></td></tr>

    <tr><td rowspan="6">9시</td><td>9:00</td><td>학교버스 1</td><td></td></tr>
    <tr><td>9:10</td><td>학교버스 2</td><td>화,수,목 결행</td></tr>
    <tr><td>9:20</td><td>학교버스 1</td><td></td></tr>
    <tr><td>9:30</td><td>미래로관광</td><td></td></tr>
    <tr><td>9:40</td><td>학교버스 2</td><td>화,수,목 결행</td></tr>
    <tr><td>9:50</td><td>학교버스 1</td><td></td></tr>

    <tr><td rowspan="4">10시</td><td>10:00</td><td>학교버스 2</td><td>화,수,목 결행</td></tr>
    <tr><td>10:10</td><td>학교버스 1</td><td></td></tr>
    <tr><td>10:30</td><td>학교버스 2</td><td>화,수,목 결행</td></tr>
    <tr><td>10:50</td><td>학교버스 1</td><td></td></tr>

    <tr><td rowspan="3">11시</td><td>11:10</td><td>학교버스 2</td><td></td></tr>
    <tr><td>11:20</td><td>학교버스 1</td><td></td></tr>
    <tr><td>11:40</td><td>학교버스 2</td><td></td></tr>

    <tr><td rowspan="2">12시</td><td>12:40</td><td>미래로관광</td><td></td></tr>
    <tr><td>12:50</td><td>학교버스 1</td><td></td></tr>

    <tr><td rowspan="3">13시</td><td>13:00</td><td>학교버스 2</td><td></td></tr>
    <tr><td>13:20</td><td>학교버스 1</td><td></td></tr>
    <tr><td>13:40</td><td>학교버스 2</td><td></td></tr>

    <tr><td rowspan="2">14시</td><td>14:20</td><td>학교버스 1</td><td></td></tr>
    <tr><td>14:40</td><td>학교버스 2</td><td></td></tr>

    <tr><td rowspan="2">15시</td><td>15:20</td><td>학교버스 1</td><td></td></tr>
    <tr><td>15:40</td><td>학교버스 2</td><td></td></tr>

    <tr><td rowspan="2">16시</td><td>16:20</td><td>학교버스 1</td><td></td></tr>
    <tr><td>16:40</td><td>학교버스 2</td><td></td></tr>

    <tr><td rowspan="3">17시</td><td>17:20</td><td>학교버스 1</td><td></td></tr>
    <tr><td>17:40</td><td>학교버스 2</td><td></td></tr>
    <tr><td>17:50</td><td>학교버스 1</td><td></td></tr>
  </tbody>
</table>
</div>
